body {
    --rojo: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#layout {
    display: flex;
    /*
    flex-direction: row;
    flex-wrap: wrap;
    */
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* Sirve  para alinear los elementos flexibles a lo largo del eje principal del contenedor */

    height: 600px;
    align-items: flex-start;
    /* Se usa para decidir cómo se alinean verticalmente los elementos dentro de un contenedor Flexbox */

    border: 3px solid black;
    padding: 5px;
}

.caja {
    /* flex-basis: calc((100% / 3) - 68px); */
    /* Sirve establecer el tamaño base de un elemento flexible antes de que se distribuya el espacio adicional o se apliquen las reglas de crecimiento (flex-grow) y encogimiento (flex-shrink) */
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}

.red {
    /* flex-grow: 25; */
    /* Especifica cuánto deben crecer los elementos flexibles dentro de un contenedor flexible */
    /* order: 3; */
    /* Sirve para controlar el orden en el que los elementos flexibles aparecen dentro de su contenedor, sin cambiar el orden en el código HTML */
    align-self: flex-start; /* Se utiliza en Flexbox para controlar la alineación vertical de un elemento flexible específico dentro de su contenedor, anulando la alineación definida por la propiedad align-items del contenedor */
    background: var(--rojo);
}

.green {
    /* flex-grow: 7; */
    /* order: 1; */
    align-self: center;
    background: greenyellow;
}

.blue {
    /*flex-grow: 0; */
    /* flex-shrink: 0; */
    /* Se utiliza para controlar cómo los elementos flexibles dentro de un contenedor flexible deben encogerse cuando no hay suficiente espacio disponible */
    /* order: 2; */
    align-self: center;
    background: blue;
}

.orange {
    /* flex-grow: 7; */
    /* order: 4; */
    /* flex-basis: 100%; */
    align-self: flex-end;
    background: orange;
}